body {
    width: 100%;
    height: 100vh;
    background: violet;
    background-image: url('../img/world-curr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form-wrap {
    border-radius: 14px;
    border: 3px solid black;
    box-shadow: 0px 6px 20px #9c75ee, 0px 51px 69px rgb(23 18 43 / 59%);
}

.submit-btn {
    text-align: center;
}

.card-body {
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.custom-btn {
    background-color: rgb(70, 167, 180);
    border-color: rgb(70, 180, 176);
    color: #000000;
}

.custom-btn:hover {
    background-color: rgb(100, 226, 237);
    border-color: rgb(100, 216, 237);
}

@media (min-width: 48px) {
    .card {
        max-width: 100px;
        min-width: 70px;
    }
}


/* Общие настройки */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Слайдер */
.slider-wrapper {
    width: 300px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.custom-range {
    width: 100%;
}

/* Карточки */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки одинаковой ширины */
    gap: 50px; /* Пробел между карточками */
    padding: 15px; /* Внутренние отступы для контейнера */
    flex: 1 1 auto; /* Позволяет контейнеру занимать оставшееся пространство */
    overflow-y: auto; /* Скролл при переполнении */
}
.currency-card {
    width: 200px;  /* Фиксированный размер карточки */
    height: 300px; /* Фиксированная высота карточки */
    margin: 10px;
    background-color: #f8f9fa;
    border: 100px solid #ddd;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень карточки */
    color: rgb(255, 255, 255);
}

.flag-img {
    width: 100%;
    height: 200px;  /* Задаем фиксированную высоту изображения флага */
    object-fit: cover;  /* Растягиваем изображение флага по размеру контейнера */
}

/* Пагинация */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
